extends layout

block content
  h1= title
  p #{message}

  a(href="/users" class="button") Users
  br
  a(href="/services" class="button") Services
  br
  a(href="/about" class="button") About
  br
  a(href="/products" class="button") Products
  br
  a(href="/api" class="button") API
